._popup {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;

    display: flex;
    align-items: center;

    padding: 10px;

    z-index: 1000;

    opacity: 0; visibility: hidden;

    transition: all .2s ease-in-out;

    &._hidden {
        transition: all 0s ease-in-out;
    }
    &._active {
        opacity: 1; visibility: visible;
    }

    &-bg {
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 200vh;
        background: linear-gradient(180deg, #040114 0%, #080435 12.39%, #130F3D 45.36%, rgba(0, 0, 0, 0) 100%);

        opacity: 0.88;

        z-index: -1;
    }
    &-body {
        margin: auto;
        position: relative;
        z-index: 2;
        background: linear-gradient(197.97deg, #040114 -25.83%, #080435 -7.91%, #1A1459 12.04%, #221E48 82.1%, #000000 118.73%);
        border: 1px solid #3E67E3;
        
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 100%;
        max-width: 846px;
        width: 100%;

        padding: 30px 10px;
        @include _769 {
            padding: 56px 30px;
        }
        border-radius: 15px;

        color: var(--white);

        
    }
    &-close-btn {
        position: absolute;
        right: 15px; top: 10px;
        line-height: 100%;
        @include _426 {
            right: 15px; top: 20px;
        }
        width: 40px; height: 47px;
        
        font-size: 32px;

        background-color: transparent;
        color: var(--white);

        z-index: 1000;
    }
    
}

